<html>

<head>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

	<h1>条件付きレンダリング</h1>

	<h2>v-if</h2>

	<p>文字列テンプレートでは、例えば Handlebars の例は、このような条件ブロックを記述します</p>

	<blockquote>
		<pre>
		<code>
		<!-- Handlebars の例 -->
{{#if ok}}
  <p>Yes</p>
{{/if}}
</code>
	</pre>
	</blockquote>

	<p>Vue.js では、同じことを達成するために、v-if ディレクティブを使用します</p>

	<blockquote>
		<pre>
		<code>
	<h1 v-if="ok">Yes</h1>
	</code>
	</pre>
	</blockquote>

	<p>これは、v-else で “else ブロック” を追加することも可能です:</p>

	<blockquote>
		<pre>
		<code>
	<h1 v-if="ok">Yes</h1>
<h1 v-else>No</h1>
	</code>
	</pre>
	</blockquote>

	<h3>テンプレートでの v-if による条件グループ</h3>

	<p>v-if はディレクティブなので、単一の要素に付加する必要があります。しかし、1 要素よりも多くの要素と切り替えたい場合はどうでしょうか？このケースでは、非表示ラッパー (wrapper) として提供される、template 要素で v-if を使用できます。最終的に描画される結果は、template 要素は含まれません。</p>

	<blockquote>
		<pre>
		<code>
	<template v-if="ok">
  <h1>Title</h1>
  <p>Paragraph 1</p>
  <p>Paragraph 2</p>
</template>
	</code>
	</pre>
	</blockquote>

	<h3>v-else</h3>

	<p>v-if に対して “else block” を示すために、v-else ディレクティブを使用できます:</p>

	<blockquote>
		<pre>
		<code>
	<div v-if="Math.random() > 0.5">
  Now you see me
</div>
<div v-else>
  Now you don't
</div>
	</code>
	</pre>
	</blockquote>
	<p>v-else 要素は、v-if または v-else-if 要素の直後になければなりません。それ以外の場合は認識されません。</p>

	<h3>v-else-if</h3>
	<p>v-else-if は、名前が示唆するように、v-if の “else if block” として機能します。また、複数回連結することもできます:</p>
	<blockquote>
		<pre>
		<code>
	<div v-if="type === 'A'">
  A
</div>
<div v-else-if="type === 'B'">
  B
</div>
<div v-else-if="type === 'C'">
  C
</div>
<div v-else>
  Not A/B/C
</div>
	</code>
	</pre>
	</blockquote>

	<p>v-else と同様に、v-else-if 要素は v-if 要素またはv-else-if 要素の直後になければなりません。</p>

	<h3>key による再利用可能な要素の制御</h3>
	<p>Vue は要素を可能な限り効率的に描画しようとしますが、スクラッチから描画する代わりにそれら要素を再利用することがよくあります。Vue を非常に速くするのに役立つ以外にも、これにはいくつかの便利な利点があります。たとえば、ユーザーが複数のログインタイプを切り替えることを許可する場合は、次のようにします:</p>
	<blockquote>

			<template v-if="loginType === 'username'">
  <label>Username</label>
  <input placeholder="Enter your username">
</template>
<template v-else>
  <label>Email</label>
  <input placeholder="Enter your email address">
</template>
	</blockquote>
	
	<p>しかしこれは必ずしも望ましいことでないかもしれないので、Vue は”この 2 つの要素は完全に別個のもので、再利用しないでください” と伝える方法を提供します。それは、一意の値を持つ key 属性を追加するだけです:</p>
	
	<p>label 要素は、key 属性を持たないため、依然として効率的に再利用されていることに注意してください:</p>
	
	
	<h2>v-show</h2>
	
	<p>条件的に要素を表示するための別のオプションは v-show です。使用方法はほとんど同じです:</p>
	
	<blockquote>
		<pre>
		<code>
		<h1 v-show="ok">Hello!</h1>
	</code>
	</pre>
	</blockquote>
	
	<p>違いは v-show による要素は常に描画されて DOM に維持するということです。v-show はシンプルに要素の display CSS プロパティを切り替えます。</p>
	<p>v-show は template 要素をサポートせず、v-else とも連動しないということに注意してください</p>
	
	<h2>v-if vs v-show</h2>
	<p>v-if は、イベントリスナと子コンポーネント内部の条件ブロックが適切に破棄され、そして切り替えられるまでの間再作成されるため、”リアル”な条件レンダリングです。</p>
	<p>v-if は 遅延描画 (lazy) です。 初期表示において false の場合、何もしません。条件付きブロックは、条件が最初に true になるまで描画されません。</p>
	<p>一方で、v-show はとてもシンプルです。要素は初期条件に関わらず常に描画され、シンプルな CSS ベースの切り替えとして保存されます。</p>
	<p>一般的に、v-if はより高い切り替えコストを持っているのに対して、 v-show はより高い初期描画コストを持っています。 そのため、とても頻繁に何かを切り替える必要があれば v-show を選び、条件が実行時に変更することがほとんどない場合は、v-if を選びます。</p>
	
	<h2>v-if と v-for</h2>
	<p>v-if と v-for を同時に利用することは 推奨されません。 詳細については スタイルガイド を参照ください。</p>
	<p>v-if といっしょに使用されるとき、v-for は v-if より優先度が高くなります。詳細についてはリストレンダリングのガイドを参照してください。</p>

	<script src="js/conditional.js"></script>

</body>

</html>
