<html>

<head>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

	<h2>v-for で配列に要素をマッピングする</h2>

	<p>配列に基づいて、アイテムのリストを描画するために、v-for ディレクティブを使用することができます。v-for ディレクティブは item in items の形式で特別な構文を要求し、items はソースデータの配列で、item は配列要素がその上で反復されているエイリアスです:</p>

	<blockquote>
		<ul id="list01">
			<li v-for="(item, index) in items">
				{{ index }} - {{ item.message }} - {{ item.message2 }}
			</li>
		</ul>
	</blockquote>

	<p>v-for ブロック内では、親スコープのプロパティへの完全なアクセスを持っています。また v-for は現在のアイテムに対する配列のインデックスを、任意の2つ目の引数としてサポートしています。</p>

	<ul id="list02">
		<li v-for="(item, index) of items">
			{{ parentMessage }} - {{ index }} - {{ item.message }}
		</li>
	</ul>

	<p>また、区切り文字として in の代わりに of を使用することができます。これは JavaScript のイテレータ構文に近いものです:</p>

	<h2>オブジェクトの v-for</h2>

	<p>オブジェクトのプロパティに対して、v-for を使って反復処理することができます。</p>
	<p>2 つ目の引数として key も提供できます:</p>
	<p>index も提供できます:</p>

	<ul id="list03" class="demo">
		<li v-for="(value, key, index) in object">
			{{ index }}. {{ key }}: {{ value }}
		</li>
	</ul>

	<p>オブジェクトを反復処理するとき、順序は Object.keys() の列挙順のキーに基づいており、全ての JavaScript エンジンの実装で一貫性が保証されていません。</p>

	<h2>key</h2>
	<p>Vue が v-for で描画された要素のリストを更新する際、標準では “その場でパッチを適用する” (in-place patch) 戦略が用いられます。データのアイテムの順序が変更された場合、アイテムの順序に合わせて DOM 要素を移動する代わりに、 Vue は各要素にその場でパッチを適用して、その特定のインデックスに何を描画するべきかを確実に反映します。これは Vue 1.x にあった機能の track-by="$index" に似たものです。</p>
	<p>この標準のモードは効率がいいです。しかしこれは、描画されたリストが子コンポーネントの状態や、一時的な DOM の状態に依存していないときにだけ適しています (例: フォームのインプットの値)。</p>
	<p>Vue が各ノードの識別情報を追跡できるヒントを与えるために、また、先ほど説明したような既存の要素の再利用と並び替えができるように、一意な key 属性を全てのアイテムに与える必要があります。この特別な属性は 1.x の track-by に相当するものですが、しかしこれは属性のように動作します。従って、これを動的な値に束縛するためには v-bind を使う必要があります (以下は省略構文を使ったものです):</p>
	<p>繰り返される DOM の内容が単純な場合や、性能向上のために標準の動作に意図的に頼る場合を除いて、可能なときはいつでも v-for に key を与えることが推奨されます。</p>

	<ul id="list04" class="demo">
		<li v-for="(item, index) in items" :key="item.id">
			index:{{ index }}, id:{{ item.id }}. {{ item.message }}. {{ item.message2 }}
		</li>
	</ul>

	<p>繰り返される DOM の内容が単純な場合や、性能向上のために標準の動作に意図的に頼る場合を除いて、可能なときはいつでも v-for に key を与えることが推奨されます。</p>

	<p>これは Vue がノードを識別する汎用的な仕組みなので、key はガイドの後半でわかるように v-for に縛られない他の用途もあります。</p>

	<p>オブジェクトや配列のような非プリミティブ値を v-for のキーとして使わないでください。代わりに、文字列や数値を使ってください。</p>

	<h2>配列の変化を検出</h2>

	<h3>変更メソッド</h3>
	<p>Vue は画面の更新もトリガするために、監視された配列の変更メソッドを抱合 (wrap) します。抱合されたメソッドは次のとおりです:</p>

	<ul>
		<li>push()</li>
		<li>pop()</li>
		<li>shift()</li>
		<li>unshift()</li>
		<li>splice()</li>
		<li>sort()</li>
		<li>reverse()</li>
	</ul>

	<p>コンソールを開いて前の items 配列の例で変更メソッドを呼び出して遊んでみてください。例えば example1.items.push({ message: 'Baz' }) のようにしてみましょう。</p>

	<div id="list05">
		<ul>
			<li v-for="(item, index) in items" :key="item.id">
				index:{{ index }}, id:{{ item.id }}. {{ item.message }}. {{ item.message2 }}
			</li>
		</ul>
	</div>

	<h3>配列の置き換え</h3>
	<p>変更メソッドは、名前が示唆するように、それらが呼ばれると元の配列を変更します。変更しないメソッドもあります。例えば、filter()、concat()、そしてslice() のような、元の配列を変更しませんが、常に新しい配列を返します。変更しないメソッドで動作するとき、新しいもので古い配列を置き換えます:</p>

	<pre>
		<code>
			example1.items = example1.items.filter(function (item) {
				return item.message.match(/Foo/)
			})
		</code>
	</pre>

	<p>これは、Vue が既存の DOM を捨てて、リスト全体を再描画の原因になると思うかもしれません。幸いにもそれはそうではありません。Vue は DOM 要素の再利用を最大化するためにいくつかのスマートなヒューリスティックを実装しているので、重複するオブジェクトを含んでいる他の配列を配列で置き換えることは、とても効率的な作業です。</p>

	<h3>注意事項</h3>

	<p>JavaScript の制限のため、Vue は配列で以下の変更を検出することはできません:</p>
	<ol>
		<li>インデックスでアイテムを直接設定するとき。例: vm.items[indexOfItem] = newValue</li>
		<li>配列の長さを変更するとき。例: vm.items.length = newLength</li>
	</ol>

	<p>上記の注意事項 1 に対処するため、以下のどちらも vm.items[indexOfItem] = newValue と同じ動作になりますが、リアクティブなシステム内で状態の更新をトリガします。</p>
	
	<p>vm.$set インスタンスメソッドを使用することもできます。これはグローバル Vue.set のエイリアスです:</p>
	<p>上記の注意事項 2 に対処するためにも splice を使います:</p>




	<script src="js/list.js"></script>

</body>

</html>
